footer.bg-dark.text-white.mt-5.py-4
  .container
    .row
      .col-md-6
        h5 Trouve ton artisan !
        p 101 cours Charlemagne
        p 69269 LYON CEDEX 02
        p France
        p +33 (0)4 26 73 40 00
      .col-md-6.text-md-end
        a.text-white.me-3(href="/mentions") Mentions légales
        a.text-white.me-3(href="/donnees") Données personnelles
        a.text-white(href="/cookies") Cookies