footer.site-footer.bg-light.py-5.border-top
  .footer.container
    .footer.row.text-center.text-md-start.gy-4.align-items-center
      .col-12.col-md-4
        .d-flex.flex.column.justify-content-center.justify-content-md-center
          img.footer-logo(src="/images/Logo.png" alt="Logo")
      .col-12.col-md-4
        .footer-address.text-center.text-md-start
          h5 Trouve ton artisan !
          p 101 cours Charlemagne
          p 69269 LYON CEDEX 02
          p France
          p +33 (0)4 26 73 40 00
      .col-12.col-md-4
        .footer-links.d-flex.flex-column.align-items-center.align-items-md-start
          a(href="/mentions") Mentions légales
          a(href="/donnees") Données personnelles
          a(href="/accessibilite") Accessibilité
          a(href="/cookies") Cookies