footer.site-footer
  .container
    .footer.row
      .footer-logo-col
        img.footer-logo(src="/images/Logo.png" alt="Logo")
      .footer-address
        h5 Trouve ton artisan !
        p 101 cours Charlemagne
        p 69269 LYON CEDEX 02
        p France
        p +33 (0)4 26 73 40 00
      .footer-links
        a(href="/mentions") Mentions légales
        a(href="/donnees") Données personnelles
        a(href="/accessibilite") Accessibilité
        a(href="/cookies") Cookies