extends layout

block content

  section.steps-section
    .container
      .steps-header
        h2 Comment trouver mon artisan ?

      .row.g-4.justify-content-center
        .col-md-3.step-col
          h3.step-number 1.
          .step-image-box
            img(src="/images/recherche.jpg" alt="Recherche")
          p.step-text Choisir la catégorie dans le menu

        .col-md-3.step-col
          h3.step-number 2.
          .step-image-box
            img(src="/images/categorie.jpg" alt="Liste")
          p.step-text Choisir un artisan dans la liste

        .col-md-3.step-col
          h3.step-number 3.
          .step-image-box
            img(src="/images/poster.jpg" alt="Contact")
          p.step-text Le contacter via le formulaire

        .col-md-3.step-col
          h3.step-number 4.
          .step-image-box
            img(src="/images/reception.jpg" alt="Réponse")
          p.step-text Une réponse sous 48h