extends layout

block content

  section.steps-section
    .container
      .steps-header
        h2 Comment trouver mon artisan ?

      .row.g-4.justify-content-center
        .col-md-3.step-col
          h3.step-number 1.
          .step-image-box
            img(src="/images/recherche.jpg" alt="Recherche")
          p.step-text Choisir la catégorie dans le menu

        .col-md-3.step-col
          h3.step-number 2.
          .step-image-box
            img(src="/images/categorie.jpg" alt="Liste")
          p.step-text Choisir un artisan dans la liste

        .col-md-3.step-col
          h3.step-number 3.
          .step-image-box
            img(src="/images/poster.jpg" alt="Contact")
          p.step-text Le contacter via le formulaire

        .col-md-3.step-col
          h3.step-number 4.
          .step-image-box
            img(src="/images/reception.jpg" alt="Réponse")
          p.step-text Une réponse sous 48h
    
    section.top-artisan-section
    .container
      .steps-header
        h2 Les artisans du mois
      .row.g-3.justify-content-center
        if topEntreprises && topEntreprises.length > 0
          each entreprise in topEntreprises
            .col-md-3.step-col
              .step-image-box
                img(src="/images/artisan.jpg" alt="Photo artisan par défaut")
              h3.top-entreprise-section= entreprise.nom
              p.top-entreprise-section= entreprise.speciality ? entreprise.speciality.nom : 'Artisan'
              p.top-entreprise-section= entreprise.ville
              .stars-container
        else
          p Aucun artisan à afficher pour le moment.