extends layout

block content

  //section 1 - Etapes
  section.steps-section
    .container
      .section-header
        h1 Comment trouver mon artisan ?
      // grille de 4 colonnes pour les étapes
      .row.g-4.justify-content-center.d-none.d-md-flex 
        .col-md-3.step-col
          h3.step-number 1.
          .step-image-box
            img(src="/images/recherche.jpg" alt="Recherche")
          p.step-text Choisir la catégorie dans le menu

        .col-md-3.step-col
          h3.step-number 2.
          .step-image-box
            img(src="/images/categorie.jpg" alt="Liste")
          p.step-text Choisir un artisan dans la liste

        .col-md-3.step-col
          h3.step-number 3.
          .step-image-box
            img(src="/images/poster.jpg" alt="Contact")
          p.step-text Le contacter via le formulaire

        .col-md-3.step-col
          h3.step-number 4.
          .step-image-box
            img(src="/images/reception.jpg" alt="Réponse")
          p.step-text Une réponse sous 48h

        //carousel pour tablette et mobile
      #stepsCarousel.carousel.slide.d-md-none(data-bs-ride="carousel")
        .carousel-inner
          .carousel-item.active
            .step-col
              h3.step-number 1.
              .step-image-box
                img(src="/images/recherche.jpg" alt="Recherche")
              p.step-text Choisir la catégorie dans le menu

          .carousel-item
            .step-col
              h3.step-number 2.
              .step-image-box
                img(src="/images/categorie.jpg" alt="Liste")
              p.step-text Choisir un artisan dans la liste

          .carousel-item
            .step-col
              h3.step-number 3.
              .step-image-box
                img(src="/images/poster.jpg" alt="Contact")
              p.step-text Le contacter via le formulaire

          .carousel-item
            .step-col
              h3.step-number 4.
              .step-image-box
                img(src="/images/reception.jpg" alt="Réponse")
              p.step-text Une réponse sous 48h

        a.carousel-control-prev(href="#stepsCarousel" role="button" data-bs-target="#stepsCarousel" data-bs-slide="prev")
          span.carousel-control-prev-icon(aria-hidden="true")
          span.visually-hidden Précédent

        a.carousel-control-next(href="#stepsCarousel" role="button" data-bs-target="#stepsCarousel" data-bs-slide="next")
          span.carousel-control-next-icon(aria-hidden="true")
          span.visually-hidden Suivant

    //section 2 - Artisans du mois
  section.top-entr-section
    .container
      .section-header
        h2 Les artisans du mois
      .row.g-3.justify-content-between
        if topEntreprises && topEntreprises.length > 0
          each entreprise in topEntreprises
            .col-md-3.step-col
                a.entr-link(href=`/entreprise/${entreprise.id_entreprise}`)                  
                  .entr-card
                    .entr-image-box
                        img(src="/images/artisan.jpg" alt="Photo artisan par défaut")
                      h3.entr-nom= entreprise.nom
                      p.entr-specialite= entreprise.speciality ? entreprise.speciality.nom : 'Artisan'
                      p.entr-ville= entreprise.ville
                      .stars-container
                        each star in entreprise.fullStars 
                          i.bi.bi-star-fill.star-icon 
                        each star in entreprise.halfStars 
                          i.bi.bi-star-half.star-icon
                        each star in entreprise.emptyStars
                          i.bi.bi-star.star-icon

        else
          p Aucun artisan à afficher pour le moment.