extends layout 
block content
  .container.mt-5.text-center
    .alert.alert-success.p-5
      h1.display-4 Message envoyé avec succès !
      p.lead Votre message a été envoyé à l'artisan. Il vous répondra sous 48 heures.
      .mt-4
        a.btn.btn-primary.btn-lg(href="/") Retour à l'accueil